In [1]:
import numpy as np
import pandas as pd
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier as kNearestNeighbors
from sklearn.linear_model import LogisticRegression
# import lightgbm as lgb
from sklearn import svm 
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split

### 1.读取数据

In [2]:
train_x = pd.read_csv('train_feature.csv')
train_x = train_x.drop(columns='Unnamed: 0')
train_y = pd.read_csv('train_label.csv')
train_y = train_y['p3']

In [3]:
valid_x = pd.read_csv('valid_feature.csv')
valid_x = valid_x.drop(columns='Unnamed: 0')
valid_y = pd.read_csv('valid_label.csv')
valid_y = valid_y['p3']

In [4]:
test_x = pd.read_csv('test_feature.csv')
test_x = test_x.drop(columns='Unnamed: 0')

In [5]:
train_x.head()

,id,6,7,8,9,10,11,12,13,14,...,3167,3168,3169,3170,3171,3172,3173,3174,3175,3176
0,523d0b69,1,0,3,0,0,0,2,0,0,...,92.720506,480.904200,489.831830,2.178047,126.199,1.5574,1,1,20.23,1
1,bbe3e682,1,0,0,0,1,0,0,0,0,...,114.988293,376.834975,491.797349,2.023857,126.119,-0.8068,5,2,71.52,1
2,642bdad9,1,0,2,0,0,0,0,0,0,...,90.603808,478.021836,526.940716,2.135921,128.135,-1.3335,5,1,64.03,2
3,386a9891,1,0,1,0,0,0,5,0,0,...,73.961527,137.296661,154.401003,1.474635,94.157,1.5182,0,0,0.00,0
4,3f1e4fdc,1,0,3,0,0,0,1,0,0,...,146.618553,269.828422,309.270217,1.768070,126.155,0.5642,2,0,21.76,0